Fastapi
uvicorn
sqlalchemy
aiosqlite
#Для Postgressql -> https://qna.habr.com/q/1227070#:~:text=Это%20можно%20сделать%2C%20выполнив%20команду,помощью%20команды%20CREATE%20DATABASE%20parser%3B.&text=Этот%20код%20создаст%20подключение%20к,пользователя%20postgres%20и%20пароль%20123.